* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 80vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* Player inputs */
#inputs {
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

label {
    font-size: 20px;
}

input {
    padding: 4px;
    border-radius: 10px;
    font-size: 20px;
}

button {
    width: 120px;
    padding: 12px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}

/* Game board */
#board {
    flex: 1;
    width: 50%;
    margin: 0 auto;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
